GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_CLIENT_EMAIL="your-service-account-email@project.iam.gserviceaccount.com"
SPREADSHEET_ID_TOEIC="your_toeic_google_spreadsheet_id_here"
SPREADSHEET_ID_HANJA="your_hanja_google_spreadsheet_id_here"
